<div class="background" [ngStyle]="getBackgroundStyling()">
  @for (square of squares; track square; let i = $index) {
    <div class="square" [id]="square.name"
      [ngStyle]="getSquareStyling(square, i)">
    </div>
  }
</div>
<div class="content" [ngStyle]="getContentStyling()">
  <h2>{{ content?.heading }}</h2>
  <h1>{{ content?.subject }}</h1>
  <h3>
    God willing<br>
    <i><img src="assets/clock.png" alt="Time">&nbsp;&nbsp;</i>{{ content?.dateAndTime }}<br>
    <i><img src="assets/home.png" alt="Location">&nbsp;&nbsp;</i><a target=”_blank”
  [href]="content?.locationHref">{{ content?.location }}</a><br>
  <i>£&nbsp;&nbsp;</i>{{ content?.price }}
</h3>
<p [innerHTML]="content?.descriptionHtml">
</p>
<button>
  <a [href]="content?.bookingFormHref" target="_blank">
    Book
  </a>
</button>
<div class="spacer"></div>
</div>